{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-empty-function": "off"
  }
}
